@import '../../style/variables';
@import '../../style/brekpoint';



.info{
    display: none;

    @include mobile{
        display: flex;
        flex-direction: column;
        width: 100%;
        background: $button;
        z-index: 2;
        text-align: center;
        padding: 20px 15px;
        margin-top: 75px;
    }

    h2{
        @include mobile{
        font-size: 24px;
        font-family: $font-title;
        color: $white;
        margin-bottom: 7px;
        }
    }

    p{
        @include mobile{
            font-size: 16px;
            line-height: 1.3;
            font-family: $font-title;
            margin-bottom: 7px;
        }
    }

    a{
        padding: 10px;
        text-decoration: none;
        color: $white;
    }
}
