@import './variables';


@mixin breakpoint($point) {
    @if $point == desktop {
      @media (min-width: $desktop) {
        @content;
          }
      }

      @if $point == tablet {
        @media (min-width: $tablet-width) {
          @content;
            }
        }

    @if $point == tablet {
            @media (min-width: $mobile-width) {
              @content;
            }
    }
  }
  
@mixin swing-x {
  initial-value: 0;
  inherits: false;
  syntax: '<integer>';
}
@mixin swing-y {
  initial-value: 0;
  inherits: false;
  syntax: '<integer>';
}