@import './brekpoint';
@import './variables';

.btn{
    padding: 10px 25px;
    border-radius: 15px;
    color: $white;
    background-color: $button;
    font-size: 24px;
    font-family: $font-title;
    text-decoration: none;

    &-secondary{
        color: $black;
        background-color: $white;

    }

    &:hover{
        color: $black;
        background-color: $white;
    }

    @include mobile{
        padding: 10px 18px;
        font-size: 18px;
    }
}

.btn-secondary:hover{
    color: $white;
    background-color: $button;
}

