@import '../../style/brekpoint';
@import '../../style/variables';

.richtext{
    margin: 10px 60px;

    @include mobile{
        margin: 10px 40px;
    }
    &-container{
       margin: 0 auto;
       width: $container-width-lg;
       height: auto;
       display: flex;
       justify-content: center;
       flex-direction: column;
       
       @include mobile{
        width: $container-width-sm;
       }
    }

    .accapit{
        margin: 15px 0;
        font-size: 18px;
        line-height: 1.7;

        @include tablet{
            font-size: 16px;
        }

        @include mobile{
            font-size: 14px;
            line-height: 1.4;
            text-align: center;
        }
    }
}


.textcenter{
    text-align: center;
    .richtext-content{
    .accapit{
        font-size: 22px;

        @include mobile{
            font-size: 16px;
        }
    }
   }
}